# Ignore JSON, log, CSV files
*.json
*.log
*.csv

# Ignore virtual environment folders
airflow_venv/
venv/

# Ignore Python cache files
__pycache__/

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Airflow DB & logs
airflow.db
logs/

# Ignore .Python virtual env config files
.Python
